@model CRUD.Models.Reader

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Borrows)</h4>
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Author </th>
                        <th>Category </th>
                        <th>Borrow date</th>
                    </tr>
                    @foreach (var item in Model.Borrows)
                    { 
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BorrowDate)
                            </td>
                       </tr>
                    }
                </table>
            </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
