@model IEnumerable<CRUD.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <form>
        <button asp-action="Create" class="btn-success">Add book</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
