@model IEnumerable<CRUD.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h2>List of books</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]">@Html.DisplayNameFor(model => model.Title)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParam"]">@Html.DisplayNameFor(model => model.Author)</a>
                </th>
                <th>
                   <a asp-action="Index" asp-route-sortOrder="@ViewData["CategorySortParam"]">@Html.DisplayNameFor(model => model.Category)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add book</a>